<div class="container mt-4">
  <h2 class="text-center">Registro de Medições</h2>

  <div class="row justify-content-center mt-4">
    <!-- Medição da Manhã -->
    <div class="col-md-5 text-center position-relative">
      <h4>Medição da Manhã</h4>
      <div class="hidrometro-container">
        <img src="<%= asset_path('hidrometro_manha.jpg') %>" alt="Hidrometro Manhã" class="img-fluid rounded shadow">
        <input type="text" class="hidrometro-input" placeholder="0000000" maxlength="7">
      </div>
      <div class="mt-3">
        <%= link_to "Salvar", new_medicao_path, class: "btn btn-primary" %>
      </div>
    </div>

    <!-- Medição da Tarde -->
    <div class="col-md-5 text-center position-relative">
      <h4>Medição da Tarde</h4>
      <div class="hidrometro-container">
        <img src="<%= asset_path('hidrometro_tarde.jpg') %>" alt="Hidrometro Tarde" class="img-fluid rounded shadow">
        <input type="text" class="hidrometro-input" placeholder="0000000" maxlength="7">
      </div>
      <div class="mt-3">
        <%= link_to "Salvar", new_medicao_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <h3>Consumo Total do Dia: <span class="text-success">X m³</span></h3>
  </div>
</div>
